footer {

    background-color: $color-footer;
}

.contenitore-footer {
    padding: $font-dieci * 4 $font-dieci * 2 $font-dieci * 3;
    display: flex;

}

.riquadri {
    padding: 0 $font-quindici;
    width: 25%;

        h3 {
            font-size: $font-sedici;
            color: $color-black;
            padding-bottom: $font-dieci;
        }
            ul {
                list-style-type: $puntini;
            }
                li {
                    color: $color-testo;
                    font-size: $font-quindici - 1;
                    line-height: $font-venticinque + 1;
                        &:hover {
                            text-decoration: $sottolineatura;
                        }
                }
}

.icone-social {

        ul {
            list-style-type: $puntini;
            padding-top: $font-venticinque;


            li {
                display: $display;
                padding: 0 2px;

                a{
                    display: $display;
                    width: $font-trentacinque;
                    height: $font-trentacinque;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: $sottolineatura-not;

                    i {
                        font-size: $font-venticinque;
                        color: $color-testo;

                    }
                }
            }
        }

}

.icone-social ul li .instagram {
    background-color: #e54e67;
}

.icone-social ul li .facebook {
    background-color: #3b5998;
}

.icone-social ul li .twitter {
    background-color: #1da1f2;
}

.icone-social ul li .you-tube {
    background-color: #cd201f;
}

.icone-social ul li .pinterest {
    background-color: #bd081c;
}

.icone-social ul li .blog {
    background-color: #ff8d00;
}

.contenitore-footer-bottom {
    background-color: $color-black;

    .immagini {
        width: 40%;
        padding: $font-dieci 0;
        img {
            padding: 0 $font-dieci + 3;
        }
    }
}

.copyright {
    width: 60%;
    text-align: center;

    ul {
        padding: $font-venticinque 0 0 $font-dieci * 6;
        display: $display;
        li {
            padding: 0 $font-dieci;
            display: $display;
            color: $color-footer;
            font-size: $font-quindici;

            &:hover:not(:last-child) {
                color: $color-testo;
                text-decoration: $sottolineatura;
            }

            &:last-child {
                padding-left: $font-dieci * 2;
                color: $color-testo;
            }
        }
    }
}
