* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore {
    width: $width-contenitore;
    margin: $margin;

}

.contenitore-riquadri {
    display: flex;
}

h1, h2, h3, h4, h5, h6, p, span {

    font-family: 'Hind Siliguri', sans-serif;
}

h2 {
    font-size: $font-trentacinque + 1;
}

h1 {
    font-size: $font-dieci * 3;
}

p {
    font-size: $font-dieci * 2;
}
