* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore {
    width: $width-contenitore;
    margin: $margin;

}

.contenitore-riquadri {
    display: flex;
}

h2 {
    font-size: $font-dieci * 4;
}

h1, h3 {
    font-size: $font-dieci * 3
}

p {
    font-size: $font-paragrafi;
}
