
header {

    background-color: $color-footer;
}

.contenitore-header-top {

    display: flex;
    justify-content: flex-end;
    padding: $font-dieci 0;

    ul {
        list-style-type: $puntini;
    }
        li {
            display: $display;
            padding: 0 $font-dieci;
        }
            li a span {
                color: $color-button;
                padding-right: $font-dieci;
            }

            a {
                text-decoration: $sottolineatura-not;
                color: $color-testo;
                font-size: $font-sedici;

                    &:hover {
                        text-decoration: $sottolineatura;
                        color: $color-testo;
                    }

            }
}

.contenitore-header-bottom {

    ul {

        list-style-type: $puntini;

        li img {
            max-width: 120px;
            padding: 0 $font-quindici;

        }

        li {
            display: $display;
            margin: $font-dieci * 2 $font-dieci * 2;
            text-decoration: $sottolineatura-not;
            color: $color-testo;
            font-size: $font-sedici;

                & .fa-angle-down {
                    font-size: $font-sedici;
                    line-height: 1.5;
                    vertical-align: middle;
                }
        }
    }
}
