.contenitore-flexible {

    background-color: #222222;

    .contenitore-text-painting {

        text-align: center;
        color: $color-testo;

        & h2 {
            padding-top: $font-dieci * 15;
        }

        & p {
            padding: $font-dieci $font-dieci * 13 $font-dieci * 2;
        }
        & img {
            width: 70%;
            padding-top: $font-dieci * 10;
        }
    }
}

.contenitore-mago {
    padding-top: $font-dieci * 15;
    display: flex;

    .testo-mago {
        width: 40%;
        color: $color-testo;

        & h3 {
            font-size: $font-venticinque + 3;
            padding-top: $font-dieci * 12;
        }

        & p {
            padding: $font-dieci * 2 $font-trentacinque + 10 $font-dieci * 2 0;

        }



    }

    .mago {
        width: 60%;

        & img {
            width: 100%;
            padding-left: $font-dieci * 5;
        }
    }
}

.contenitore-mac {
    padding: $font-dieci * 15 0 $font-dieci * 10;
    display: flex;

    .mac {
        width: 60%;

        & img {
            width: 100%;
            padding-right: $font-dieci * 5;
        }
    }

    .testo-mac {
        width: 40%;
        color: $color-testo;

        & h3 {
            font-size: $font-venticinque + 3;
            padding-top: $font-dieci * 12;
        }

        & p {
            padding: $font-dieci * 2 0;

        }
    }
}

.sfondo-quadrati-generale {

    background-color: $color-testo;

    .contenitore-quadrati {
        max-width: 1600px;
        margin: $margin;
    }

    .contenitore-quadrati-titolo {
        text-align: center;
        padding-top: $font-dieci * 12;
    }

    .contenitore-riquadri {

        padding: $font-dieci * 8 0;

    }

    .quadrati {
        position: relative;

        & img {
            max-width: $font-dieci * 30;
        }

        &:not(:last-child) {
            margin-right: $font-dieci * 2;
        }

        .text-img {
            font-size: $font-paragrafi;
            color: $color-testo;
            position: absolute;
            bottom: $font-venticinque;
            width: 100%;
            text-align: center;


        }
    }
}

.sfondo-contenitore-city {

    background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    .contenitore-sx-dx {
        display: flex;
        justify-content: center;
        padding: $font-dieci * 10 0 $font-dieci * 13;

    }

    .contenitore-sx-dx-generale {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-testo;
        text-align: center;
        margin: 0 $font-dieci * 2;

        & p {
            margin-bottom: $font-dieci * 3;
            font-size: $font-diciotto;

            & span {
                color: $color-button;
            }
        }

    }

    .sx  {
        padding: $font-dieci * 4 $font-dieci * 6 $font-dieci * 8;

        & h3 {
            margin: $font-dieci * 2 0 $font-dieci;
            font-size: $font-venticinque + 3;
        }
    }

    .dx {

        padding: $font-dieci * 4 55px $font-dieci * 6;

        & h3 {
            margin: $font-dieci * 4 0 $font-dieci;
            font-size: $font-venticinque + 3;
        }
    }

}
