.contenitore-painter-buy {

    background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.contenitore-testo-software {

    width: 65%;
    padding-left: 280px;

        h1 {
            color: $color-testo;
            font-size: $font-dieci * 3;
            padding-top: $font-dieci * 5;
        }

        h3 {
            color: $color-testo;
            font-size: 23px;
            padding-top: $font-dieci * 2;
        }

            ul {
                list-style-type: none;
                padding: $font-quindici 0 $font-dieci * 2;

                li {
                    color: $color-testo;
                    font-size: 18px;
                    padding: 5px 0;

                    & i {
                            color: $color-testo;
                    }
                }
            }
}

.contenitore-testo-software .download-trial {

    background-color: $color-black;
    color: $color-testo;
    padding: $font-dieci $font-quindici;
    margin-bottom: $font-dieci * 6;
    width: 215px;
    display: flex;


        .download {
            border-right: solid 1px $color-testo;
            padding-right: $font-quindici;

            & .trial {
                text-transform: $maiuscolo;
                font-size: $font-quindici;
            }

            & .for {
                display: block;
                text-transform: none;
                margin-top: 5px;
                font-size: $font-sedici;
            }

        }

        .icona-download i {
            position: relative;
            top: 5px;
            left: 8px;
            font-size: $font-dieci * 3;
        }


}

.contenitore-nome-creatore {
    position: relative;


    & .nome-creatore .brandon {
        position: absolute;
        bottom: $font-dieci * 2;
        left: -192px;
        color: $color-testo;
        font-size: 13px;
    }
}

.contenitore-buy-now {

    width: 35%;
    background-color: $color-black;
    padding: $font-dieci * 5 $font-dieci * 2;
    line-height: 1.5;
    position: relative;
    margin-top: $font-dieci * 2;

    & img {
        position: absolute;
        top: $font-dieci * 2;
        right: $font-dieci;
    }

    & span {
        color: $color-testo;
        font-size: $font-dieci * 3;
    }

    & p {
        color: $color-footer;
        font-size: $font-quindici;
        text-transform: $maiuscolo;
    }

    & button {
        background-color: #009CFF;
        padding: $font-dieci $font-dieci * 4;
        font-size: $font-quindici;
        color: $font-sedici;
        margin: $font-dieci * 2 6px 12px 0;
        border: none;
        text-transform: $maiuscolo;
    }

    & .contenitore-limited {

        background-color: $color-testo;
        padding: $font-dieci $font-quindici;
        margin-top: $font-trentacinque;

            & h1 {
                text-transform: $maiuscolo;
                font-size: 18px;
                color: $color-black;
            }

            & p {
                font-size: $font-sedici;
                text-transform: none;
                color: $color-footer;

            }

            & a {
                text-decoration: none;
                color:$color-button;
                font-size: $font-sedici;

            }
    }
}

.contenitore-secondo-menu {

    background-color: $color-footer;

    .contenitore-lista {

        & ul {
            list-style-type: none;
            display: flex;

            li {
                text-transform: uppercase;
                font-size: $font-dieci * 2;
                color: $color-testo;
                padding: $font-dieci * 2 $font-venticinque;
            }
        }
        .first {
            background-color: $color-black;
            border-bottom: 3px solid $color-testo;
        }
    }
}

.contenitore-donna-computer {

    background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg);
    background-position: top;
    background-size: cover;
}

.contenitore-testo-img {

    text-align: center;
    padding-top: 80px;
    width: 90%;
    margin: auto;

    & h1 {
        color: $color-testo;
        font-size: $font-dieci * 4;
        margin: $font-dieci * 2 0 $font-dieci 0;
    }

        & p {
            font-size: 23px;
            margin: $font-dieci * 2 0 $font-dieci * 4 0;
            color: $color-testo;
        }

        .logo-test {
            margin-bottom: $font-dieci * 6;
        }

        & .logo-test img {
            width: $font-dieci * 4;
            margin-right: $font-dieci * 2;
        }

        & .logo-test span {
            color: $color-testo;
            font-size: $font-dieci * 2;
            display: inline-block;
            vertical-align: top;
            margin-top: $font-dieci;
        }

}

.contenitore-img-donna {
    position: relative;


        & img {
            width: 100%;
            height: 103%;
            vertical-align: middle;
            border-style: none;
        }

        & img:last-of-type {
            position: absolute;
            margin: 0 $margin;
            left: 0;
            right: 0;
            z-index: 1;
            bottom: 0;

        }

        & .play {
            background-image: url(https://www.painterartist.com/static/ptr/images/icons/ico-play-circle-white.png);
            width: 110px;
            height: 110px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

        }

}

.contenitore-aquila {

    background-color: $color-testo;
    color: $color-black;
    text-align: center;

        & h2 {
            font-size: $font-dieci * 4;
            padding-top: $font-dieci * 10;
        }

        & p {
            font-size: 23px;
            padding: $font-dieci * 2 $font-dieci * 7;
        }
}

.immagine-aquila {

    .arrow {
        position: relative;
        bottom: 390px;
        font-size: $font-dieci * 4;
    }

    .arrow-left {
        right: $font-dieci * 3;
    }

    .arrow-right {
        left: $font-dieci * 3;
    }

    & img {
        width: 90%;
        margin: $font-dieci * 8 0 $font-dieci * 6 0;
    }
}
