$color-testo: #FFFFFF;
$color-black: #000000;
$color-footer: #4D4D4D;
$color-button: #009CFF;
$font-dieci: 10px;
$font-quindici: 15px;
$font-sedici: 16px;
$font-diciotto: 18px;
$font-paragrafi: 23px;
$font-venticinque: 25px;
$font-trentacinque: 35px;
$width-contenitore: 1200px;
$margin: auto;
$puntini: none;
$sottolineatura-not: none;
$sottolineatura: underline;
$maiuscolo: uppercase;
$display: inline-block;
