$color: #989898;
$color-footer: #4D4D4D;
$color-button: #009CFF;
$color-testo: #FFFFFF;
$color-titolo: #333333;
$color-black: #000000;
$background-color-footer: #ececec;
$background-color-header: #101010;
$width-contenitore: 1200px;
$font-header: 16px;
$font-quindici: 15px;
$font-dieci: 10px;
$font-venti: 20px;
$font-venticinque: 25px;
$font-trenta: 30px;
$font-trentacinque: 35px;
$font-quaranta: 40px;
$font-cinquanta: 50px;
$font-sessanta: 60px;
$margin: auto;
$puntini: none;
$sottolineatura: underline;
$sottolineatura-not: none;
$display: inline-block;
$maiuscolo: uppercase;
